body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
    display: flex;
    flex-direction: column;
}

.page-header {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 25px 5;
}

.container {
    display: flex;
    flex-direction: row;
    
}

.navbar {
    width: 10%;
    background-color: #2c3e50;
    padding: 20px;
    height: 100vh;
    overflow: auto;
    flex-shrink: 0; /* Prevents the navbar from shrinking */
}

.navbar ul {
    list-style: none;
    padding: 0px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #22e9c1;
}

#documentation {
    flex-grow: 1;
    padding: 15px;
    background-color: #ffffff;
}

#documentation section {
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}

#documentation h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

#documentation p {
    line-height: 1.4;
    color: #333333;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .navbar {
        width: 100%;
        height: auto;
        order: -1; /* Moves the navbar to the top */
    }

    #documentation {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .page-header {
        padding: 10px 0;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .navbar ul li a {
        padding: 5px;
    }

    